
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="{{ site.data.ru.general.authors }}">
    <meta name="description" content="{{ site.data.ru.general.description }}">
    <meta name="keywords" content="{{ site.data.general.ru.metaKeywords }}">
    <meta name="google-site-verification" content="{{ site.siteVerification }}" />

   <!--<meta name="twitter:card" content="summary">
   <meta name="twitter:site" content="{{ site.twitterAccount }}">
   <meta name="twitter:title" content="{{ site.data.ru.general.siteTitle }}">
   <meta name="twitter:description" content="{{ site.data.ru.general.description }}">
   <meta name="twitter:image:src" content="{{ site.socialImageSrcTwitter | prepend: site.baseurl | prepend: site.url }}">-->

    <meta property="og:title" content="{{ site.data.ru.general.siteTitle }}" />
    <meta property="og:site_name" content="{{ site.data.ru.general.siteTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ "/img/favicons/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
    <meta property="og:description" content="{{ site.data.ru.general.description }}" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

<!--    TODO: telegram -->

<!--    TODO: VK-->
    
    <title>{% if page.title %}{{ page.title }} &bull; {{ site.data.en.general.siteTitle }}{% else %}{{ site.data.en.general.siteTitle }}{% endif %}</title>

    <link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/img/favicons/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/img/favicons/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/img/favicons/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/favicons/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/img/favicons/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/favicons/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/img/favicons/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/img/favicons/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-96x96.png" sizes="96x96" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-32x32.png" sizes="32x32" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-16x16.png" sizes="16x16" | prepend: site.baseurl }}">

    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ "/img/favicons/mstile-144x144.png" | prepend: site.baseurl }}">
    <meta name="msapplication-config" content="{{ "/img/favicons/browserconfig.xml" | prepend: site.baseurl }}">
    
    <meta name="theme-color" content="#2b5797">
    
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>

    <script type="text/javascript">
        var firebaseConfig = {
            "apiKey": "AIzaSyDjC4gr5qP6oLiSFs-AiqwVpns6_Dpd14M",
            "authDomain": "gdg-voronezh-d557d.firebaseapp.com",
            "databaseURL": "https://gdg-voronezh-d557d.firebaseio.com",
            "projectId": "gdg-voronezh-d557d",
            "storageBucket": "gdg-voronezh-d557d.appspot.com",
            "messagingSenderId": "381946486535"
        };
        firebase.initializeApp(firebaseConfig);
    </script>
  </head>
