<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1" style="overflow-x: auto">

            <h3>{{ site.data.ru.partners.titlePartners }}</h3>
            <h5>{{ site.data.ru.partners.titlePartnersDescription }}</h5>
            <br>

            <table style="margin-bottom: 50px" class="table table__partners">
                <tbody>
                {% for row in site.data.ru.partners.tablePartners %}
                <tr>
                    {% if row[0] == "+" %}
                        {% for col in row %}
                            {% if col != "+" %}
                                {% if col == row[1] %}
                                <td>
                                    {{ col }}
                                </td>
                                {% else %}
                                <td>
                                    <a href="{{ col.link }}">
                                        <img src="{{ site.baseurl }}/img/partners/{{ col.img }}" alt="{{ col.img }}">
                                    </a>
                                </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3>{{ site.data.ru.partners.forPartners }}</h3>
            <h5>{{ site.data.ru.partners.forPartnersDescription }}</h5>
            <br>

            <table style="margin-bottom: 50px" class="table">
                <thead>
                    <tr>
                        {% for col in site.data.ru.partners.tableFeatureHeader %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in site.data.ru.partners.tableFeatureBody %}
                    <tr>
                        {% for col in row %}
                        <td>
                            {% if col == "+" %}
                                <i class="material-icons plus">done</i>
                            {% elsif col == "-" %}
                                <i class="material-icons minus">clear</i>
                            {% else  %}
                                {{ col  }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        {% for col in site.data.ru.partners.tableFeatureFooter %}
                        <td>
                            {% if col != "" %}
                            <a class="btn btn-success disabled" href="{{ col.link }}">{{ col.text }}</a>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                </tfoot>

            </table>

        </div>
    </div> 
</section>
<!-- End Partners Section -->

