.about-details {
    img {
        width: 128px;
    }
    p {
        margin-top: 10px;
    }
}

.about {
    .img-container {
        overflow: hidden;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }
}