.partners  {
    h5 {
       margin-top: 30px;
    }
    .list-inline {
        li {
            width: 16%;
            max-width: 180px;
            margin: 13px 7px;
            @media (max-width: 767px) {
                width: 40%;
                max-width: 160px;
            }
        }
    }

    .table {
        border-collapse: collapse;

        &__partners {
            width: 100%;

            img {
                width: 100%;
                transition: $base-transition;
                filter: grayscale(1);
                &:hover {
                    filter: grayscale(0);
                }
            }

            tr {
                border-bottom: 1px solid #ddd;

                &:last-child {
                    border-bottom: none;
                }
            }

            td {
                padding: 40px 10px !important;
                text-align: center !important;
                border: none !important;

                &:first-child {
                    font-weight: bold;
                    font-size: 1.5em;
                }
            }

            img {
                width: 150px;
            }
        }

        th,
        td {
            width: 20%;
            padding: 20px 10px;
            text-align: center;
            border: 1px solid #ddd;
        }
        
        th:first-child,
        td:first-child {
            text-align: left;
        }

        .plus {
            display: inline-block;
            padding: 2px 2px;
            border-radius: 100%;
            color: white;
            background-color: #5cb85c;
        }

        .minus {
            display: inline-block;
            padding: 2px 2px;
            border-radius: 100%;
            color: white;
            background-color: #d9534f;
        }
    }
}