.partners  {
    h5 {
       margin-top: 30px;
    }
    .list-inline {
        li {
            width: 16%;
            max-width: 180px;
            margin: 13px 7px;
            @media (max-width: 767px) {
                width: 40%;
                max-width: 160px;
            }
        }
    }

    .table {
        border-collapse: collapse;

        th,
        td {
            width: 20%;
            padding: 20px 10px;
            text-align: center;
            border: 1px solid #ddd;
        }
        
        th:first-child,
        td:first-child {
            text-align: left;
        }

        .plus {
            display: inline-block;
            padding: 2px 2px;
            border-radius: 100%;
            color: white;
            background-color: #5cb85c;
        }

        .minus {
            display: inline-block;
            padding: 2px 2px;
            border-radius: 100%;
            color: white;
            background-color: #d9534f;
        }
    }

    .table-partners {
        display: flex;
        flex-direction: column;

        &__row {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }
        }

        &__col {
            padding: 40px 40px !important;

            &:first-child {
                font-weight: bold;
                font-size: 1.5em;
                width: 100%;
                text-transform: uppercase;
            }

            &_platinum {
                color: #d9dae0;
            }

            &_silver {
                color: #c0c0c0;
            }

            &_gold {
                color: #fed84b;
            }

            &_bronze {
                color: #906a3b;
            }

            &_org {
                color: #bd2020;
            }

            &_info {
                color: #20bd2f
            }

            &_study {
                color: #4ec3ff;
            }

            img {
                width: 150px;
                transition: $base-transition;
                filter: grayscale(1);
                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }
}