.speakers {
    margin: 60px 0;
    padding: 0 15px;

    .speaker {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;

        &__left {
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            align-items: flex-start;

            @media (min-width: 850px) {
                justify-content: flex-start;
            }            
        }

        &__right {
            display: flex;
            width: 60%;
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;
        }

        &__avatar {
            width: 100%;
            min-width: 150px;
            max-width: 300px;
            border-radius: 100%
        }

        &__header {
            margin-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            font-size: 2em;
        }

        &__company {
            color: #092c52;
        }

        &__content {
            margin-bottom: 15px;
        }

        &__doc-title {
            text-align: left;
            margin-bottom: 15px;
            font-size: 1.8em;
        }

        &__doc-description {
            font-size: 1.2em;
            text-align: justify;
        }

        &__doc-hash-tags {
            display: flex;
            flex-wrap: wrap;
        }

        &__doc-hash-tag {
            margin-right: 1em;
            font-size: 1.2em;
            color: #0aa8f3;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}