<!-- Before Section -->
<section id="before" class>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.data.ru.before.title }}</h3>
            <div class="row before-row">

                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="before-elem-wrapper">
                        <div class="before-elem image-section before-big-elem before-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url(/img/before/{{ site.beforeImages[0] }})"></div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 venue-col before-small-col">
                    <div class="before-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="before-elem image-section before-small-elem before-img animated hiding" data-animation="fadeIn" data-delay="150" style="background-image: url(/img/before/{{ site.beforeImages[1] }})"></div>
                    </div>
                    <div class="before-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="before-elem image-section before-small-elem before-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url(/img/before/{{ site.beforeImages[2] }})"></div>
                    </div>
                    <div class="before-elem-wrapper col-md-12 col-sm-12 col-xs-6 visible-sm visible-md visible-lg visible-xl">
                        <div class="before-elem image-section before-small-elem before-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url(/img/before/{{ site.beforeImages[3] }})"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Before Section -->
