<!-- Question Section -->
<section id="question" class="question image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.questionImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">

            <h3>{{ site.data.ru.question.title }}</h3>

            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
                <form action="" method="post" class="validate" target="_blank" novalidate>

                    <i class="input bordered required">
                        <input type="email" value="" name="email" class="waves-button-input" placeholder="{{ site.data.ru.question.emailPlaceholder }}" autocomplete="off">
                    </i>

                    <i class="input bordered required">
                        <input type="text" value="" name="name" class="waves-button-input" placeholder="{{ site.data.ru.question.namePlaceholder }}" autocomplete="off">
                    </i>

                    <i class="textarea bordered required">
                        <textarea placeholder="{{ site.data.ru.question.commentPlaceholder }}" name="comment" class="waves-button-input"></textarea>
                    </i>

                    <input type="submit" class="button btn btn-primary" value="{{ site.data.ru.question.submitText }}">

                </form>
            </div>

        </div>

    </div>
</section>
<!-- End Question Section -->
