<script>
    window.addEventListener('load', function() {
        var db = firebase.firestore();
        var questionButton = document.getElementById("questionButton");
        var email = document.getElementById("email");
        var name = document.getElementById("name");
        var comment = document.getElementById("comment");
        var alertMessage = document.getElementById("alertMessage");

        questionButton.onclick = function() {
            var emailValue = email.value.trim();
            var nameValue = name.value.trim();
            var commnetValue = comment.value.trim();
            if (emailValue == "" || nameValue == "" || commnetValue == "") {
                alertMessage.innerText = "Заполните все поля !";
                $('#alert').modal('show');
                return;
            }
            db.collection("questions").add({
                "date": Date().toString(),
                "email": emailValue,
                "name": nameValue,
                "comment": commnetValue
            }).then(function() {
                alertMessage.innerText = 'Ваш вопрос отправлен !';
                $('#alert').modal('show');
                email.value = "";
                name.value = "";
                comment.value = "";
            }).catch(function() {
                alertMessage.innerText = 'Ошибка при отправлке вопроса !';
                $('#alert').modal('show');
            });
        };
    }, false);
</script>

<!-- Question Section -->
<section id="question" class="question image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.questionImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">

            <h3>{{ site.data.ru.question.title }}</h3>

            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
                <form onsubmit="return false" novalidate>

                    <i class="input bordered required">
                        <input id="email" type="email" value="" name="email" class="waves-button-input" placeholder="{{ site.data.ru.question.emailPlaceholder }}" autocomplete="off">
                    </i>

                    <i class="input bordered required">
                        <input id="name" type="text" value="" name="name" class="waves-button-input" placeholder="{{ site.data.ru.question.namePlaceholder }}" autocomplete="off">
                    </i>

                    <i class="textarea bordered required">
                        <textarea id="comment" placeholder="{{ site.data.ru.question.commentPlaceholder }}" name="comment" class="waves-button-input"></textarea>
                    </i>

                    <input id="questionButton" type="submit" class="button btn btn-primary" value="{{ site.data.ru.question.submitText }}">

                </form>
            </div>

        </div>

    </div>
</section>
<!-- End Question Section -->
