<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.data.ru.tickets.title }}</h3>
			{% for ticketsOffer in site.data.ru.tickets.offers %}
	            {% assign colWidth = 12 | divided_by: forloop.length %}
	            {% assign check = forloop.index | modulo:2 %}
	            <div class="col-md-{{ colWidth }} col-sm-{{ colWidth }} pricing-col {% if ticketsOffer.featured == true %}pricing-col-featured{% endif %} animated hiding" data-animation="{% if forloop.index == 1 %}fadeInLeft{% elsif forloop.index == forloop.length %}fadeInRight{% else %}fadeInDown{% endif %}" data-delay="{% if check == 0 %}0{% else %}500{% endif %}">
					<div class="pricing-header">
						<p class="title">{{ ticketsOffer.name }}</p>
						<p class="price">{{ ticketsOffer.price }} <span class="currency">{{ ticketsOffer.priceCurrency }}</span></p>
					</div>
					<div class="pricing-content">
						<a class="button" href="{{ ticketsOffer.buyButtonLink }}" target="_blank">{{ ticketsOffer.buyButtonText }}</a>
					</div>
				</div>
            {% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10" style="text-align: center">
			<span class="tickets-info">{{ site.data.ru.tickets.info }}</span>
		</div>
	</div>
</section>
<!-- End Tickets Section -->