---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
        
    <div id="preloader" class="preloader">
        <div class="loader-gplus"></div>
    </div>

    <div id="st-container" class="st-container disable-scrolling">
        <div class="st-pusher">
            <div class="st-content">

                {{ content }}

                {% include footer.html %}

            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
    }
    </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>


    <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="display:flex; justify-content:center;" role="document">
            <div class="modal-content" style="width:300px;">
                <div style="text-align: center" class="modal-body">
                    <b id="alertMessage"></b>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button onclick="$('#alert').modal('hide');"type="button" class="btn btn-primary">Ок</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
